# Flask
Flask~=3.1.0
Flask-RESTful~=0.3.10
Flask-HTTPAuth~=4.8.0

# Scrapping
beautifulsoup4~=4.12.3
requests~=2.32.3

# Schedule
schedule~=1.2.2

# Telegram
telebot~=0.0.5

# Gunicorn
gunicorn

# dotenv
python-dotenv~=1.1.0

# Werkzeug
Werkzeug~=3.1.3